[*.{cs,vb}]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

dotnet_diagnostic.Nunit1001.severity = error
dotnet_diagnostic.Nunit1001.severity = error
dotnet_diagnostic.Nunit1002.severity = error
dotnet_diagnostic.Nunit1003.severity = error
dotnet_diagnostic.Nunit1004.severity = error
dotnet_diagnostic.Nunit1005.severity = error
dotnet_diagnostic.Nunit1006.severity = error
dotnet_diagnostic.Nunit1007.severity = error
dotnet_diagnostic.Nunit1008.severity = error
dotnet_diagnostic.Nunit1009.severity = error
dotnet_diagnostic.Nunit1010.severity = error
dotnet_diagnostic.Nunit1011.severity = error
dotnet_diagnostic.Nunit1012.severity = error
dotnet_diagnostic.Nunit1013.severity = error
dotnet_diagnostic.Nunit1014.severity = error
dotnet_diagnostic.Nunit1015.severity = error
dotnet_diagnostic.Nunit1016.severity = error
dotnet_diagnostic.Nunit1017.severity = error
dotnet_diagnostic.Nunit1018.severity = error
dotnet_diagnostic.Nunit1019.severity = error
dotnet_diagnostic.Nunit1010.severity = error
dotnet_diagnostic.Nunit1021.severity = error
dotnet_diagnostic.Nunit1022.severity = error
dotnet_diagnostic.Nunit1023.severity = error
dotnet_diagnostic.Nunit1024.severity = error
dotnet_diagnostic.Nunit1025.severity = error
dotnet_diagnostic.Nunit1026.severity = error
dotnet_diagnostic.Nunit1027.severity = error
dotnet_diagnostic.Nunit1028.severity = error
dotnet_diagnostic.Nunit1029.severity = error
dotnet_diagnostic.Nunit1030.severity = error
dotnet_diagnostic.Nunit1031.severity = error
dotnet_diagnostic.Nunit1032.severity = error

dotnet_diagnostic.Nunit2001.severity = error
dotnet_diagnostic.Nunit2001.severity = error
dotnet_diagnostic.Nunit2002.severity = error
dotnet_diagnostic.Nunit2003.severity = error
dotnet_diagnostic.Nunit2004.severity = error
dotnet_diagnostic.Nunit2005.severity = error
dotnet_diagnostic.Nunit2006.severity = error
dotnet_diagnostic.Nunit2007.severity = error
dotnet_diagnostic.Nunit2008.severity = error
dotnet_diagnostic.Nunit2009.severity = error
dotnet_diagnostic.Nunit2010.severity = error
dotnet_diagnostic.Nunit2011.severity = error
dotnet_diagnostic.Nunit2012.severity = error
dotnet_diagnostic.Nunit2013.severity = error
dotnet_diagnostic.Nunit2014.severity = error
dotnet_diagnostic.Nunit2015.severity = error
dotnet_diagnostic.Nunit2016.severity = error
dotnet_diagnostic.Nunit2017.severity = error
dotnet_diagnostic.Nunit2018.severity = error
dotnet_diagnostic.Nunit2019.severity = error
dotnet_diagnostic.Nunit2020.severity = error
dotnet_diagnostic.Nunit2021.severity = error
dotnet_diagnostic.Nunit2022.severity = error
dotnet_diagnostic.Nunit2023.severity = error
dotnet_diagnostic.Nunit2024.severity = error
dotnet_diagnostic.Nunit2025.severity = error
dotnet_diagnostic.Nunit2026.severity = error
dotnet_diagnostic.Nunit2027.severity = error
dotnet_diagnostic.Nunit2028.severity = error
dotnet_diagnostic.Nunit2029.severity = error
dotnet_diagnostic.Nunit2030.severity = error
dotnet_diagnostic.Nunit2031.severity = error
dotnet_diagnostic.Nunit2032.severity = error
dotnet_diagnostic.Nunit2033.severity = error
dotnet_diagnostic.Nunit2034.severity = error
dotnet_diagnostic.Nunit2035.severity = error
dotnet_diagnostic.Nunit2036.severity = error
dotnet_diagnostic.Nunit2037.severity = error
dotnet_diagnostic.Nunit2038.severity = error
dotnet_diagnostic.Nunit2039.severity = error
dotnet_diagnostic.Nunit2040.severity = error
dotnet_diagnostic.Nunit2041.severity = error
dotnet_diagnostic.Nunit2042.severity = error
dotnet_diagnostic.Nunit2043.severity = error
dotnet_diagnostic.Nunit2044.severity = error
dotnet_diagnostic.Nunit2045.severity = error
dotnet_diagnostic.Nunit2046.severity = error
dotnet_diagnostic.Nunit2047.severity = error
dotnet_diagnostic.Nunit2048.severity = error
dotnet_diagnostic.Nunit2049.severity = error
dotnet_diagnostic.Nunit2050.severity = error


dotnet_diagnostic.Nunit3001.severity = error
dotnet_diagnostic.Nunit3002.severity = error
dotnet_diagnostic.Nunit3003.severity = error
dotnet_diagnostic.Nunit3004.severity = error
